.button {
  background-color: var(--black-russian);
  border: none;
  border-radius: 10px;
  padding: 14px 40px;
  color: var(--white);
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}