.categories {
  margin-top: 40px;
}

.categories h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  margin-bottom: 16px;
}

.categories__container {
  display: grid;
  grid-template-columns: repeat(10, 120px);
  overflow-x: scroll;
  column-gap: 8px;
}

.categories__individual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--gray-lighter);
  cursor: pointer;
  border: none;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  font-weight: bold;
  border-radius: 10px;
}

.categories__individual i {
  color: var(--gray-dark);
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .categories__container {
    column-gap: 24px;
  }
}