.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px 16px 12px;
}

.header > a {
  color: var(--blue-lighter);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 20px;
  margin-left: 8px;
}

.header__button {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 10%;
    margin-bottom: 16px;
  }

  .header > a {
    display: none;
  }

  .header__button {
    display: block;
    border: 3px solid var(--black-russian);
    border-radius: 10px;
    background-color: transparent;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 800;
    color: var(--black-russian);
    outline: none;
    cursor: pointer;
  }
}