@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800;900&display=swap');

:root {
  --font-global: Inter;
  --black: #000;
  --black-russian: #181B32;
  --white: #FFF;
  --gray: #F6F7F9;
  --gray-bold: #8D8D9D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-global);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
